sd-util/src/main/resources/authenticationFormat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="types.xsd" />
  <xs:element name="authentication">
    <xs:complexType>
      <xs:all>
        <xs:element type="nonceType" name="nonce"/>
        <xs:element type="keyType" name="cliServKey"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>