sd-util/src/main/resources/authenticationFormat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="authentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:base64Binary" name="nonce"/>
        <xs:element type="xs:base64Binary" name="cliServKey"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>