sd-util/src/main/resources/credentialFormat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="types.xsd" />
  <xs:element name="credential">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:base64Binary" name="ticket"/>
        <xs:element type="xs:base64Binary" name="kcs"/>
        <xs:element type="clientType" name="client"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>