sd-util/src/main/resources/requestFormat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="types.xsd" />
  <!-- Element Format -->
  <xs:element name="request">
    <xs:complexType>
      <xs:all>
        <xs:element type="serverType" name="server"/>
        <xs:element type="nonceType" name="nonce"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>