sd-util/src/main/resources/ticketFormat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ticket">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="client"/>
        <xs:element type="xs:string" name="server"/>
        <xs:element type="xs:dateTime" name="beginTime"/>
        <xs:element type="xs:dateTime" name="endTime"/>
        <xs:element type="xs:base64Binary" name="cliServKey"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>