sd-util/src/main/resources/types.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="clientType">
	  <xs:restriction base="xs:string">
	  </xs:restriction>
	</xs:simpleType>
  	<xs:simpleType name="serverType">
	  <xs:restriction base="xs:string">
	   <xs:minLength value="1"/>
	  </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonceType">
	  <xs:restriction base="xs:base64Binary">
	  	<xs:minLength value="6"/>
	  </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keyType">
	  <xs:restriction base="xs:base64Binary">
	  	<xs:minLength value="6"/>
	  </xs:restriction>
	</xs:simpleType>
</xs:schema>